@using BusinessLogic.DTOs;
@model ProductDto;

<div class="card mb-3 bg-light util-detail-pos">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="image-fix" src="@Model.ImageUrl" alt="Product Image" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Price$</p>
                <p class="card-text">@Model.CategoryName</p>
                <p class="card-text"><small class="text-body-secondary">@Html.Raw(Model.Description)</small></p>
            </div>
        </div>
    </div>
</div>

<div class="btn-centerize">
    <div class="text-start">
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-danger my-3">Back</a>
    </div>
    <div>
        <a asp-controller="Favorite" asp-action="Add" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-outline-success">Add to Cart</a>
    </div>
</div>